# This file defines possible make "configuration" variables.


CPPFLAGS := -DDEBUG


# C compiler option flags
CFLAGS := -g -Wall -Werror -fno-omit-frame-pointer

# C++ compiler option flags
CXXFLAGS := -g -Wall -Werror -fno-omit-frame-pointer
